{% extends "header.html" %}
{% block content %}

<div class='title'><p>Showing search results for <b>{{key}}</b>...</p></div>
<div class='summary-block'>
    <text>Quick summary</text>
    <p>Hmm......</p>
</div>

<hr>

{% for unit in units %}
    <div class='unit-block'>
        <p class="small">{{unit.unitid}}</p>
        {% for file in unit.files %}
            <p><a href={{url_for('show_file', file=file.filename)}}>{{file.topic}}</a></p>
        {% endfor %}
    </div>
    <hr>
{% endfor %}

<div class='center-block'><p class='generate-button'><a href={{url_for('show_quiz', files=files, key=key)}}>Generate Quiz</a></p></div>


{% endblock %}